{% extends "base.html" %}

{% block content %}
    <h1>Courier</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.courier_type.label }}<br>
            {{ form.courier_type(class="form-control", type="name") }}<br>
            {% for error in form.courier_type.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.regions.label }}<br>
            {{ form.regions(class="form-control", type="name") }}<br>
            {% for error in form.regions.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.time.label }}<br>
            {{ form.time(class="form-control", type="name") }}<br>
            {% for error in form.time.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}