{% extends "base.html" %}

{% block content %}
    <h1>Buyer</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.region.label }}<br>
            {{ form.region(class="form-control", type="name") }}<br>
            {% for error in form.region.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}