{% extends "base.html" %}

{% block content %}
    <h1>Book</h1>
    <form class="form-group" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.book.label }}<br>
            {{ form.book(class="form-control") }}<br>
            {% for error in form.book.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control") }}<br>
            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            <label for="image">Book's image</label>
            <input type="file" class="form-control-file" id="image" name="file">
        </p>
        <p>
            {{ form.genre.label }}<br>
            {{ form.genre(class="form-control") }}<br>
            {% for error in form.genre.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.weight.label }}<br>
            {{ form.weight(class="form-control") }}<br>
            {% for error in form.weight.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(class="form-control") }}<br>
            {% for error in form.quantity.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.sub(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}